{% extends 'base.html' %}

{% block title %}Add Device{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'styles/add-device.css' %}">
<script src="{% static 'js/add-device.js' %}"></script> 
<script src="{% static 'js/utils.js' %}"></script> 
{% endblock %}

{% block content %} 
    </br>
    
    <form class="mx-5" id="form">
        <div class="form-group">
            <label class="bold" for="device-name">Device name</label>
            <input type="text" class="form-control" name="deviceName" id="device-name" required>
        </div>

        <div class="form-group">
            <label class="bold" for="device-price">Device price</label>
            <input type="number" class="form-control" name="buyPrice" id="device-price" required>                 
        </div>

        <div class="form-group">
            <label class="bold" for="power-consumption">Consumption</label>
            <input type="number" class="form-control" name="powerConsumption" id="power-consumption" required>
        </div>

        <div class="form-group">
            <label class="bold" for="additional-expenses">Additional expenses</label>
            <input type="number" class="form-control" name="additionalExpenses" id="additional-expenses" required>
        </div>

        <div class="form-group">
            <label class="bold" for="mining-rate">Mining rate</label>
            <input type="number" class="form-control" name="miningRate", id="mining-rate" required>
        </div>

        <div class="form-group">
            <label class="bold" for="hashrate-unit-options">Choose hashrate unit:</label>
            <select class="form-control" name="miningRateUnit" id="hashrate-unit-options">
                <option value=3>KH/s</option>
                <option value=6>MH/s</option>
                <option value=9>GH/s</option>             
            </select>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" name='isActive' id="is-active">
            <label class="form-check-label" for="isActive">Device is working</label>
        </div>

        
        </br>
        <div class="form-group">
            <button id="submit" type="button" class="btn btn-primary">Submit</button>
            <div id="message"></div>
        </div>
    </form>

    

{% endblock %}

